@font-face {
    font-family: 'Eurostile'; /*a name to be used later*/
    src: url('ttf/Eurostile.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'EurostileBold'; /*a name to be used later*/
    src: url('ttf/EurostileBold.ttf'); /*URL to font*/
}

body { margin: 0px; background-color: #040404;}

.ed_header
{
    height: 70px;
    width: 100%;
    font-family: "Eurostile";
    color: #FEFEFE;
}

.ed_link
{ color: #fdb100; }

.ed_section_header
{
    font-family: "EurostileBold";
    color: #fdb100;
    font-size: 30px;
}

.ed_section_text
{
    font-family: "Eurostile";
    color: #FEFEFE;
    font-size: 30px;
}

.ed_shield_text
{
    font-family: "EurostileBold";
    font-size: 30px;
    border: 5px;
    border-style: solid;
    border-spacing: 15px;
}

.ed_section_text_small
{
    font-family: "Eurostile";
    color: #FEFEFE;
    font-size: 18px;
}

.ed_galmap_pointer
{
	position: absolute;
    width: 10px;
    height: 10px;
    background-color: #FE0000;
    border-radius: 5px;
    z-index: 99;
}

.ed_sol_pointer
{
	position: absolute;
    width: 6px;
    height: 6px;
    background-color: #0099FE;
    border-radius: 3px;
    top: 335px;
    left: 200px;
    z-index: 99;
}

.ed_exploration_data
{
	font-family: "Eurostile";
    color: #FEFEFE;
    font-size: 18px;
    overflow-y: scroll;
    width: 100%;
    padding-left: 10px;
    height: 390px;
}

@keyframes glowing_red {
    0% {
      background-color: #151515;
      box-shadow: 0 0 5px #151515;
    }
    25% {
      background-color: #771515;
      box-shadow: 0 0 20px #771515;
    }
    50% {
      background-color: #ff1515;
      box-shadow: 0 0 5px #ff1515;
    }
    75% {
        background-color: #771515;
        box-shadow: 0 0 20px #771515;
    }
    100% {
        background-color: #151515;
        box-shadow: 0 0 5px #151515;
    }
}

.ed_statusbox_red
{
	width: 100%;
	height: 100%;
	font-family: "EurostileBold";
	font-size: 15px;
	color: #FFFFFF;
	display: flex;
  	justify-content: center;
  	align-items: center;
    animation: glowing_red 2000ms infinite;
    border-radius: 10px;
}
.ed_statusbox_green
{
	width: 100%;
	height: 100%;
	background-color: #00BB00;
    box-shadow: 0 0 10px #00BB00;
	font-family: "EurostileBold";
	font-size: 15px;
	color: #FFFFFF;
	display: flex;
  	justify-content: center;
  	align-items: center;
    border-radius: 10px;
}
.ed_statusbox_yellow
{
	width: 100%;
	height: 100%;
	background-color: #d28e10;
    box-shadow: 0 0 10px #d28e10;
	font-family: "EurostileBold";
	font-size: 15px;
	color: #FFFFFF;
	display: flex;
  	justify-content: center;
  	align-items: center;
    border-radius: 10px;
}
.ed_statusbox_off
{
	width: 100%;
	height: 100%;
	font-family: "EurostileBold";
	font-size: 15px;
	color: #BCBCBC;
	display: flex;
  	justify-content: center;
  	align-items: center;
    border-radius: 10px;
    background-color: #040404;
}

