### .Docker enviroments configuration

### Change the path to ED save game option below
# this is the default path to ED status files
ED_PATH="C:\\Users\\<YOUR USER NAME>\\Saved Games\\Frontier Developments\Elite Dangerous"

# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=ed_status_panel
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Networks
PROJECT_NETWORKS=edpanel-network

# build
PHP_VERSION=8.0
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=./../
APP_CODE_PATH_CONTAINER=/var/www/html

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=edstatuspanel.local