### .Docker enviroments configuration

### changed below option for path something like that //C/Users/<YOUR USER NAME>/Saved\ Games/Elite\ Dangerous/
ED_PATH="path to your ED game"

# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=ed_status_panel
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Networks
PROJECT_NETWORKS=edpanel-network

# build
PHP_VERSION=8.0
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=./../
APP_CODE_PATH_CONTAINER=/var/www/html

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=edstatuspanel.local